.chart div {
  font: 50px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: #c1c1c1;
}

table {
  border-collapse: collapse;
}

.datarow {
  border-top: 1px solid #c1c1c1;
}

#loading {
  visibility: visible;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  cursor: wait;
  color: white;
  font-size: xx-large;
  display: table;
  text-align: center;
}

#loading p {
    display: table-cell;
    vertical-align: middle;
}

.centerColumn {
  max-width: 800px;
  margin: 0 auto;
}
